<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/shahv/IdeaProjects/TDD/src/main/java/TestStrngCalculator.java">
        <classes>
            <class name="main.java.TestStrngCalculator">
                <methods>
                    <include name="returnsIfZeroLengthStringFound"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>